force-app/main/default/flows/DeleteAllOpenEventswhentheOpportunitygetsClosed-3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CountOpenEvents</name>
        <label>CountOpenEvents</label>
        <locationX>304</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>EventCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopthroughtheOpenEvents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Iscountbiggerthan0</name>
        <label>Is count bigger than 0?</label>
        <locationX>140</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Events</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>NOW</name>
        <dataType>Date</dataType>
        <expression>{!$System.OriginDateTime}</expression>
    </formulas>
    <interviewLabel>Delete All Open Events when the Opportunity gets Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete All Open Events when the Opportunity gets Closed</label>
    <loops>
        <name>LoopthroughtheOpenEvents</name>
        <label>Loop through the Open Events</label>
        <locationX>301</locationX>
        <locationY>28</locationY>
        <assignNextValueToReference>Event</assignNextValueToReference>
        <collectionReference>Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountOpenEvents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iscountbiggerthan0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Events</name>
        <label>Delete Events</label>
        <locationX>142</locationX>
        <locationY>261</locationY>
        <inputReference>Events</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FindOpenEvents</name>
        <label>Find Open Events</label>
        <locationX>143</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthroughtheOpenEvents</targetReference>
        </connector>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>Events</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>FindOpenEvents</startElementReference>
    <variables>
        <name>Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>EventCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Events</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
