force-app/main/default/flows/Delete_Reverse_Relationship-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Delete Reverse Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Reverse Relationship</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Reverse_Relationship</name>
        <label>Delete Reverse Relationship</label>
        <locationX>241</locationX>
        <locationY>286</locationY>
        <inputReference>ReverseRelationship</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Relationship</name>
        <label>Get Relationship</label>
        <locationX>92</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reverse_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelationshipID</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>Relationship</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Reverse_Account</name>
        <label>Get Reverse Account</label>
        <locationX>228</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reverse_Relationship</targetReference>
        </connector>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Relationship.ContactId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ReverseAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Reverse_Contact</name>
        <label>Get Reverse Contact</label>
        <locationX>87</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reverse_Account</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Relationship.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ReverseContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Reverse_Relationship</name>
        <label>Get Reverse Relationship</label>
        <locationX>91</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Reverse_Relationship</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReverseAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReverseContact.Id</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>ReverseRelationship</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Relationship</startElementReference>
    <variables>
        <name>Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>RelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReverseAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ReverseContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ReverseRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
