force-app/main/default/flows/EF_Task_PB_Create-4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SalesAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Reached</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SalesAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Called Us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SalesAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emailed Us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SalesAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visited Us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SalesAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media Reached</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ResultType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CallTask</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_BPM__Conductor__c;Account;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Booking__c;Campaign;Case;Contract;ContractLineItem;Destination__c;Entitlement;ErrorLog__c;Opportunity;Order;Product2;Season_Supplements__c;ServiceContract;Solution;Translation__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>1st Reached Action</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SystemCallTask</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_BPM__Conductor__c;Account;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Booking__c;Campaign;Case;Contract;ContractLineItem;Destination__c;Entitlement;ErrorLog__c;Opportunity;Order;Product2;Season_Supplements__c;ServiceContract;Solution;Translation__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>System Call Task is created on Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ResultType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CallTask</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_BPM__Conductor__c;Account;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Booking__c;Campaign;Case;Contract;ContractLineItem;Destination__c;Entitlement;ErrorLog__c;Opportunity;Order;Product2;Season_Supplements__c;ServiceContract;Solution;Translation__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Closed Action Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ResultType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CallTask</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Contact;Lead</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Closed Action Lead</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SystemCallTask</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Contact;Lead</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>System Call Task is created on Lead</label>
        </rules>
    </decisions>
    <description>This PB is triggered when a Task is created.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_6283127941</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A2_3962872229</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_4_A1_8423227407</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>EF_Task_PB_Create-4_InterviewLabel</interviewLabel>
    <label>EF_Task_PB_Create</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task].Name ID (Lead)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Update Has System Call Task on Lead</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision11</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Has System Call Task</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>HasSystemCallTask__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Has System Call Task</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>HasSystemCallTask__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task].Related To ID (Opportunity)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Update Has System Call Task on Opportunity</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Has System Call Task</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>HasSystemCallTask__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Has System Call Task</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>HasSystemCallTask__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task].Related To ID (Opportunity)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Stage To Contact > Follow Up</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Contact</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Automation Update DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LastAutomationUpdateDateTime__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_6283127941</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task].Related To ID (Opportunity)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>To Contact > Sales Closed</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Contact</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Automation Update DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LastAutomationUpdateDateTime__c</field>
            <value>
                <elementReference>formula_6_myRule_4_A1_8423227407</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <value>
                <stringValue>Sales Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task].Related To ID (Opportunity)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A2</name>
        <label>Stage Follow-Up > Sales Closed</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Automation Update DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LastAutomationUpdateDateTime__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A2_3962872229</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>StageName</field>
            <value>
                <stringValue>Sales Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task].Name ID (Lead)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Open > Closed</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision9</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
